.robots {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.robots li {
  width: 90%;
  margin: 2rem auto;
  background: rgb(29, 62, 207);
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(2,2,2,0.3);
  text-align: center;
  color: #fff;
  padding: 1rem;
  transition: transform 0.45s ease-in;
}

.robots li:hover {
  transform: scale(1.05,1.05);
}

.robots li img {
  width: 15rem;
  height: 15rem;
}

.robots li h2 {
  margin: 1rem 0;
  font-size: 2rem;
}

.robots li p {
  font-size: 1.6rem;
}

.search-box {
  width: 100%;
  margin: 2rem auto;
  text-align: center;
}

.search-box form input {
  height: 3.5rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.3);
}


@media(min-width: 660px) {
  .robots li {
    width: 45%;
  }
}

@media(min-width: 960px) {
  .robots li {
    width: 30%;
  }
}