.navigation {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.navigation p {
  font-size: 1.75rem;
  color: #fff;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
}

.logo img {
  width: 4rem;
  height: 4rem;
}

.link-form {
  margin: 0 auto;
  width: 90%;
  padding: 1rem;
  box-shadow: 0 0 8px rgba(2,2,2,0.25);
}

.link-form p {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  margin-bottom: 8px;
}

.form {
  text-align: center;
}

.form input {
  height: 3rem;
  border: none;
  border-radius: 5px 0 0 5px;
}

.form button {
  height: 3rem;
  border: none;
  border-radius: 0 5px 5px 0;
  padding: 0 1.5rem;
  cursor: pointer;
}

.rank {
  margin-top: 11rem;
  margin-bottom: 2rem;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
}

.particles {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.face-reg {
  position: relative;
  width: 18rem;
  height: auto;
  margin: 2rem auto;
}

.face-reg img {
  width: 100%;
  height: 100%;
}

.box-face {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.signin,
.register {
  width: 80%;
  height: auto;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 30vh;
  box-shadow: 0 0 8px rgba(2,2,2,0.25);
  padding: 2rem;
}

.signin h2,
.register h2 {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 3rem;
  font-weight: 300;
}

.signin div,
.register div {
  margin: 1.5rem auto;
}

.signin form input,
.register form input {
  width: 100%;
  height: 3rem;
  border: none;
  margin: 0.5rem auto;
  border-radius: 5px;
  background: none;
  border: 1px solid rgba(2,2,2,0.25);
  outline: none;
  transition: background 0.45s ease-in;
  color: #fff;
  font-size: 1.65rem;
  padding: 1rem 2rem;
  letter-spacing: 1.25px;
}

.signin form label,
.register form label {
  font-size: 1.6rem;
  color: rgba(7, 7, 7, 0.777);
}

.signin form input:focus,
.register form input:focus {
  background: rgba(12, 12, 12, 0.63);
  border: none;
}

.signin form button,
.register form button {
  background: rgba(255, 255, 255, 0.438);
  font-size: 1.45rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem 2rem;
  display: block;
  margin: 1rem auto;
  cursor: pointer;
  transition: background 0.45s ease-in;
}

.signin form button:hover,
.register form button:hover {
  background: #fff;
}

.signin a{
  text-decoration: none;
  font-size: 1.7rem;
  margin: 1.5rem auto;
  color: rgba(12, 11, 11, 0.795);
}

@media (min-width: 660px) {
  .signin {
    width: 60%;
  }
}

@media (min-width:960px) {
  .signin {
    width: 45%;
  }
}